@import './base.css';

#app {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-weight: normal;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: var(--color-primary);
  transition: color var(--transition-fast);
}

@media (hover: hover) {
  a:hover {
    color: var(--color-accent-secondary);
  }
}
